extensions:
	themes: ThemeKeeper\DI\ThemeKeeperExtension

themes:
	admin:
		themeDir: theme
		assetsDir: test
		views:
			controls: <themeDir>/<theme>/controls/<name>/<view>
			presenters: <themeDir>/<theme>/presenters/<name>/<view>
			layouts: <themeDir>/<theme>/@<view>

	web:
		views:
			controls: <themeDir>/<theme>/controls/<name>/<view>
			presenters: <themeDir>/<theme>/presenters/<name>/<view>
			layouts: <themeDir>/<theme>/@<view>
